body {
	color:#2FC5D6;
	font-family: 'webfontregular', sans-serif;
	font-size: 2em;
	text-align: center;
		
}


/*Removes buttoned list*/
#main-content ul{
	list-style: none;		
	
}


/*In desktop mode menu items in white*/
#Home a,#Story a,#Videos a,#Media a,#Contact a,#Tour a{
	color:#2FC5D6;
	text-transform: uppercase;
	font-size: medium;
	
}
/*In desktop mode menu items have no underline and have color on hover*/
#Home a:hover,#Story a:hover,#Videos a:hover,#Media a:hover,#Contact a:hover,#Tour a:hover{
	text-decoration: none;
	color: aquamarine;
	
}
/*Icon in desktop will not have hover style*/
.Icon a:hover{
	text-decoration: none;
}
.Icons,.Iconcool{
	position: fixed;
}




















/*To reduce the size of SocialIcon logo image in tab and desk view*/

.Icons span.row ul{
	line-height: 40px;
	padding-right: 5px;
	

}

.Icons span.row
{	background-color: #0A1938;
	opacity: 0.7;
	padding-right: 10px;
	margin-bottom: -10px;
	margin-right: 0px;
	display: inline-block;
}

.Icons{	
	position: absolute;
	right: 4vw;
	
}
.Iconcool{	
	background-color: #0A1938;
	opacity: 0.7;
	position: absolute;
	bottom: 0px;
	right: 4vw;
	height: 32px;
	width: 100px;
		
}


/*





















*/


/********** Large devices only **********/
@media (min-width: 1200px) {
	body{/*Makes the image cover the body */
		background: url("../images/BG_LandingPage.png") no-repeat center fixed;
		background-size:cover; 
		width: 100vw;
		height: 100vh;
		
	}
	
		#main-content ul.menuitems{
			padding-right:4vw;		
		}
		.Icons span.row{	
			margin-right: 0vw;
		}
	#main-content ul.menuitems span{
		display: flex;
		justify-content: flex-end;
			
	}
	.Icons ul a img{
		max-width: 20px;
		height: 20px;
		object-fit: contain;
	}
	.Icons{
		bottom: 64px;
	}

	.Icons ul #SoundcloudButton a img{
		max-width: 30px;
		}
	.Icons ul #BandCampButton a img{
		max-height: 30px;
		
	}
	/*Menu Items get partial transparent bgcolor*/
#main-content ul.menuitems li{
	background-color: #0A1938;
	opacity: 0.7;
	padding:16px;
	margin-top: 48px;
}
#main-content ul.menuitems #Home{
	padding-left: 32px;
}
#main-content ul.menuitems #Contact{
	padding-right: 32px;
}

}
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
	div#main-content {
		background: url("../images/BG_desktop.png") no-repeat center  fixed;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		
	}

	
	
	#main-content ul.menuitems{
		
	}
	.Icons span.row{	
		margin-bottom: 0vw;
	}
	#main-content ul.menuitems span{
		display: flex;
		justify-content: center;		
	}

	.Icons ul a img{
		max-width: 25px;
		height: 25px;
		object-fit: contain;
	}
	.Icons{
		bottom: 16px;
	}
	.Icons ul #SoundcloudButton a img{
		max-width: 30px;
		height: 25px;
		object-fit: contain;
	}

	  
	#brandlogo{
		background-color: #0A1938;
		opacity: 0.7;
		max-width: 1000px;
		height: 100px;
		object-fit: contain;
		margin-top: 16px;
		padding: 8px;
		padding-right: 12px;
	}
	/*Menu Items get partial transparent bgcolor*/
#main-content ul.menuitems li{
	background-color: #0A1938;
	opacity: 0.7;
	padding: 8px 12px;
	margin-top: 16px;
}
}
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
	div#main-content {
		/*Makes the image cover the maincontent AND makes maincontent extend to height and width of view port */
		background: url("../images/BG_desktop.png") no-repeat center  fixed;
		background-size: cover;
		width: 100vw;
		height: 100vh;	
	}

	#main-content ul.menuitems{
			
	}

	.Icons span.row{	
		margin-bottom: 0vw;
	}
	
	#main-content ul.menuitems span{
		display: flex;
		justify-content: center;		
	}
	.Icons ul a img{
		max-width: 25px;
		height: 25px;
		object-fit: contain;
	}
	.Icons ul #SoundcloudButton a img{
		max-width: 30px;
		height: 25px;
		object-fit: contain;
	}
	.Icons{
		bottom: 16px;
	}
	#main-content ul.menuitems li{
		background-color: #0A1938;
		opacity: 0.7;
		padding: 8px 12px;
		margin-top: 16px;
	}
	#brandlogo{
		background-color: #0A1938;
		opacity: 0.7;
		max-width: 1000px;
		height: 100px;
		object-fit: contain;
		margin-top: 16px;
		padding: 8px;
		padding-right: 12px;
	}
	
}
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
	  /*Makes the image cover the maincontent AND makes maincontent extend to height and width of view port */
	div#main-content {
		background: url("../images/BG_Tablet&Mobile.png") no-repeat center  fixed;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		
	}
  #brandlogo{
		background-color: #0A1938;
		opacity: 0.7;
		max-width: 1000px;
		height: 100px;
		object-fit: contain;
		margin-top: 16px;
		padding: 8px;
		padding-right: 12px;
		float:right;
	}
	.menuxs{
		background-color: #0A1938;
		opacity: 0.7;
		transform: rotate(270deg);
		float: left;
		margin-top: 44px;
		margin-left: -32px;
		padding: 8px;
		width: 108px;
		color: white;
		
		
	}
}