body {
	color: rgb(223, 169, 89);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
		
}

/*Removes buttoned list*/
#main-content ul{
	list-style: none;
	
	
}
#header-nav {
	/*
	Creates a fullbleed black header for all devices
	*/
	background-color: black;
	border-color: black;
	border-radius: 0%;
	width: 100vw;/*Makes the navbar extend to the full width of the view port*/
}
/*Triple icon is white */
.navbar-default .navbar-toggle .icon-bar{
	background-color:white  ;
		
}
/*To reduce the size of SocialIcon logo image in mob view*/
.navbar-default .navbar-nav>li>a>span>img{
	max-width: 20px;
	height: 20px;
	object-fit: contain;
	

}
/*To reduce the size of Sid Acharya logo image in mob view*/
.navbar-brand p>img{
	max-width: 55px;
	height: auto;
	margin-right: 15px;
    vertical-align: middle;
	 
		
}
/*To make the sid acharya logo look center aligned vertically*/
.navbar-brand{
	padding:10px;
	float: right;
}

/*Triple icon border is removed*/
.navbar-default .navbar-header button{
	border: 0px;
	padding-left: 25px;
}

/*Color of menu items is white in tablet and mob mode*/
.navbar-default .navbar-nav>li>a{
	color: white;	
	align-self: center;
}
/*Color of menu items is blue during hover in tablet and mob mode*/
.navbar-default .navbar-nav>li>a:hover{
	color: aquamarine;
}
/*So that maincontent starts immediately from the header*/
.navbar{
	margin-bottom: 0px;
}
/*In desktop mode menu items in white*/
#Home a,#Story a,#Videos a,#Media a,#Contact a{
	color: white;
	float: right;
	text-transform: uppercase;
	font-size: medium;

	
}
/*In desktop mode menu items have no underline on hover*/
#Home a:hover,#Story a:hover,#Videos a:hover,#Media a:hover,#Contact a:hover{
	text-decoration: none;
	color: aquamarine;
}



/********** Large devices only **********/
@media (min-width: 1200px) {
	body{/*Makes the image cover the body */
		background: url("../images/BG_desktop.png") no-repeat;
		background-size: cover; 
		
	}
	
	#main-content ul{
		padding-right:10vw;		
	}
	

}
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
	div#main-content {
		background: url("../images/BG_desktop.png") no-repeat;
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;
		
	}

	.navbar-brand{
		align-self: center;
		float: inherit;
	}
	#header-nav{
		margin-bottom: -10px;
		box-shadow:0px 0px 10px 10px black;
		
	}
	
	#main-content ul{
		padding-right:30vw;		
	}
	
	  

}
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
	div#main-content {
		/*Makes the image cover the maincontent AND makes maincontent extend to height and width of view port */
		background: url("../images/BG_desktop.png") no-repeat;
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;	
	}
	.navbar-brand{
		align-self: center;
		float: inherit;
	}
	#header-nav{
		margin-bottom: -10px;
		box-shadow:0px 0px 10px 10px black;
	}
	
	#main-content ul{
		padding-right:30vw;		
	}
	
}
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
	  /*Makes the image cover the maincontent AND makes maincontent extend to height and width of view port */
	div#main-content {
		background: url("../images/BG_Tablet&Mobile.png") no-repeat;
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;
		
	}
  
}