#mainstory{

    color:#0A1938;
    background-color:  #2FC5D6;
    opacity: 0.8;    
    text-align: justify;
    padding: 32px;
             
}
#main-content{
    vertical-align: middle;
}





















/*********** Large devices only **********/
@media (min-width: 1200px) {
	body{/*Makes the image cover the body */
		background: url("../images/BG_Story.png") no-repeat center fixed;
		background-size:cover; 
		width: 100vw;
        height: 100vh;	
        
    }
    .Icons{
        position: absolute; 
        right: 0px;       
        bottom: 0px;
        margin-bottom: 32px;
    }
	
    .Icons span.row{
        padding: 0px 32px;
    }
	.Icons span.row ul{	
        display: flex;
        padding:0px;
        width: max-content;
    }
    .Icons span.row ul li{
        padding:0px 8px;
    }

	#main-content ul.menuitems {
        align-self: flex-end;
        padding-right: 0px;	
	}
	.Icons ul a img{
        max-width: 20px;
        height: 20px;
        object-fit: contain;
	}
	
    #mainstory{
    height: max-content;
    height: 60vh;
    width: 60vw;;
    align-self: flex-end ;
    overflow: scroll ;
    overflow-x: hidden;
    overflow-y:hidden;  
    margin-top: 16px;
    }
    #main-content{
    
    display: flex;
    flex-direction: column;    
    
}


}
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
	div#main-content {
		background: url("../images/BG_Story.png") no-repeat center  fixed;
		background-size: cover;
		width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
           
    }
    #mainstory{
        height: 300px;
        width: 400px;;
        overflow: scroll ;
        overflow-x: hidden;
               
    }
    
	
	
}
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
	div#main-content {
		/*Makes the image cover the maincontent AND makes maincontent extend to height and width of view port */
		background: url("../images/BG_Tablet&Mobile.png") no-repeat center  fixed;
		background-size: cover;
		width: 100vw;
		height: 100vh;	
        display: flex;
        flex-direction: column;
        justify-content: center;
           
    }
    #mainstory{
        height: 300px;
        width: 400px;;
        overflow: scroll ;
        overflow-x: hidden;
               
    }

}
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
	  /*Makes the image cover the maincontent AND makes maincontent extend to height and width of view port */
	div#main-content {
		background: url("../images/BG_Tablet&Mobile.png") no-repeat center fixed;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		
	
}